venv/
*.db
*.pyc

.env

images/*.jpg
images/*.png

user_tests/

template_maker/*.docx
template_maker/*.pptx
template_maker/*.pdf

temp/

Main Files/Rewards Files/daily_gifts/
Main Files/Verbel Files/القطع

*.zip
